 .u-section-1 {
  min-height: 568px;
}

.u-section-1 .u-image-1 {
  height: 250px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  margin-bottom: 0;
  margin-top: 0;
  background-image: none;
  min-height: 318px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 0 776px 0 0;
}

.u-section-1 .u-text-2 {
  margin: -21px 732px 0 296px;
}

.u-section-1 .u-image-2 {
  width: 193px;
  height: 193px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -177px 156px 0 239px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 576px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 114px;
    margin-right: 632px;
    margin-left: 196px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -135px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 56px;
    margin-left: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 522px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 176px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 428px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 228px;
  }
}.u-block-fc98-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-fc98-3 {
  position: absolute;
  left: 0;
}

.u-block-fc98-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-2-1 .u-text-2 {
  margin: 30px 59px 0;
}

.u-section-2-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-2-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-2 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 258px auto 0;
}

.u-section-2-2 .u-text-2 {
  margin: 27px 59px 0;
}

.u-section-2-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 43px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-2-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-3 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-2-3 .u-text-2 {
  margin: 30px 59px 0;
}

.u-section-2-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 60px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 569px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 623px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 649px;
  }
}